node_modules/
.env
.env.local
.env.production
.env.test

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.DS_Store
.vscode/
.idea/

dist/
build/

dump.rdb
*.rdb

coverage/
.nyc_output/

client/dist/
client/node_modules/